* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
input {
  border: none;
}
.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.wrapper {
  padding: 2% 2%;
  display: flow-root;
}
.title-lg {
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.12px;
  color: white;
}
.title-sm {
  opacity: 0.8;
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
  font-size: 30px;
  letter-spacing: 0.06px;
  text-align: center;
  color: #000;
  font-weight: bold;
  margin-bottom: 16px;
}
.header__logo {
  display: inline-block;
}
.header__dc-logo {
  display: block;
  object-fit: cover;
}
.hero {
  position: relative;
  background-image: url("background.png");
  min-height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100%;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1270px;
}

.hero > article {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-sm {
  opacity: 0.9;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
  font-size: 20px;
  font-weight: 500;
  color: #696969;
  text-align: center;
}

.hero__txt {
  color: white;
  margin-bottom: 22px;
}

.form {
  font-size: 0px;
  max-width: 550px;
  margin: 0 auto;
}

.form__input {
  padding: 18px 19px 18px 19px;
  font-size: 13px;
  letter-spacing: 0.05px;
  color: #757575;
}

.form__input_margin {
  margin-right: 1px;
}
button,
.button {
  display: inline-block;
  cursor: pointer;
  border: none;
}
.form__button {
  padding: 16px 25px 15px 34px;
  background-color: #342c2c;
  font-size: 13px;
  letter-spacing: 0.05px;
  color: #ffffff;
}
.signup__form_button {
  padding: 18px 25px 18px 34px;
  color: #ffffff;
}

.deals {
  padding: 80px 0;
}

.deals-container {
  display: flow-root;
  margin-bottom: 48px;
}

.deals__text {
  margin-bottom: 64px;
}

.deal {
  float: left;
  width: calc((100% - 60px) / 4);
  height: auto;
  margin-right: 20px;
  margin-bottom: 32px;
}

/* .deal:hover {
  transform: scale(1.1);
} */

.deal__img {
  background-color: rgba(227, 227, 227, 0.73);
  padding: 20px 21px 20px 39px;
  object-fit: cover;
  display: block;
  margin-bottom: 7px;
  width: 100%;
  border-radius: 10px;
}
.deal__name {
  opacity: 0.8;
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.05px;
  text-align: center;
  color: #000;
}
.deal:nth-child(4n) {
  margin-right: 0;
}
.deal:nth-child(4n + 1):nth-last-child(-n + 4),
.deal:nth-child(4n + 1):nth-last-child(-n + 4) ~ .deal {
  margin-bottom: 0;
}

.more {
  display: block;
  max-width: 228px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.06px;
  text-align: center;
  color: #ffffff;
  background-color: #ffa500;
  box-shadow: 0 20px 40px 0 #1a171730;
  padding: 20px 23px;
}

.tips {
  padding-bottom: 80px;
}

.tips__text {
  margin-bottom: 51px;
}
.tips-container {
  position: relative;
  display: flow-root;
  margin-bottom: 50px;
}

.tip {
  float: left;
  position: relative;
  width: calc((100% - 41px) / 3);
  height: auto;
  margin-right: 20px;
  margin-bottom: 10px;
}

/* .tip:hover {
  transform: scale(1.1);
} */

.tip:nth-child(3n) {
  margin-right: 0;
}
.tip:nth-child(3n + 1):nth-last-child(-n + 3),
.tip:nth-child(3n + 1):nth-last-child(-n + 3) ~ .tip {
  margin-bottom: 0;
}

.tip > img {
  display: block;
  width: 100%;
}
.tip__text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.44);
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.05px;
  text-align: center;
  white-space: nowrap;
  color: #fff;
}

.signup {
  background-image: url("bottom-background.png");
  min-height: 348px;
  background-repeat: no-repeat;
  background-size: cover;
}
.signup > article {
  text-align: center;
  position: relative;
  top: 40px;
}
.form__input_email {
  min-width: 348px;
}
.signup__head {
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.13);
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.09px;
  color: #ffffff;
}

.signup__text {
  margin-bottom: 41px;
  color: #ffffff;
}
footer {
  background-color: #342c2c;
}
.footer__logo {
  float: left;
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
  font-family: Rubik;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.06px;
}
.footer__link {
  color: #ffffff;
}

.links {
  float: right;
  letter-spacing: 0.05px;
  font-size: 0;
}

.text-link {
  font-size: 16px;
  margin-right: 17px;
  color: #ffffff;
}
.text-link:nth-last-child(1) {
  margin-right: 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .wrapper {
    padding: 20px 40px;
  }
  .title-lg {
    font-size: 47px;
  }
  .hero__txt {
    font-size: 17px;
  }
  .deals-container {
    /* max-width: 915px;
    margin: 0 auto; */
    margin-bottom: 30px;
  }
  .deals {
    padding: 50px 0;
  }
  .deal {
    width: calc(100% / 4 - 13px);
    margin-right: 17px;
  }

  .deal__name {
    font-size: 20px;
  }
  .form__input {
    font-size: 12px;
  }

  .tips {
    padding-bottom: 50px;
  }
  .tips-container {
    /* max-width: 920px;
    margin: 0 auto; */
    margin-bottom: 30px;
  }
  .tip {
    margin-right: 4px;
  }
  .tip > img {
    width: 100%;
  }
  .tip__text {
    top: 75%;
    font-size: 20px;
  }
  .footer__logo {
    font-size: 18px;
  }
  .text-link {
    font-size: 14px;
  }
}
@media only screen and (min-device-width: 425px) and (max-device-width: 768px) {
  .wrapper {
    padding: 15px 20px;
  }
  .title-lg {
    font-size: 35px;
  }
  .hero__txt {
    font-size: 13px;
  }
  .form__input {
    font-size: 8px;
  }
  .form__button {
    font-size: 9px;
  }

  .deals-container {
    /* max-width: 600px;
    margin: 0 auto; */
    margin-bottom: 20px;
  }
  .deal {
    margin-right: 13px;
    margin-bottom: 20px;
    width: calc(100% / 4 - 10px);
  }

  .deal__name {
    font-size: 15px;
  }
  .more {
    padding: 15px 20px;
    font-size: 10px;
  }
  .tips-container {
    /* max-width: 734px;
    margin: 0 auto; */
    margin-bottom: 20px;
  }
  .tip {
    margin-right: 3px;
  }

  .tip__text {
    font-size: 15px;
    top: 65%;
  }
  .form__input_email {
    min-width: 274px;
  }
  .signup__form_button {
    font-size: 8px;
  }
  .signup__head {
    font-size: 34px;
  }
  .signup__text {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .footer__logo {
    font-size: 14px;
  }
  .text-link {
    font-size: 12px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .hero {
    /* min-height: 500px; */
    min-width: 666px;
  }
  .wrapper {
    padding: 3% 3%;
  }

  .tip {
    float: none;
  }
  .tip > img {
    width: 100%;
  }
  .signup {
    min-width: 666px;
  }
  .footer {
    min-width: 666px;
  }
}
